<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Write EJS code here to display shortened links -->
<table>

   <tr>
     <td><%= shortURL %>

     </td>
      <form method="POST" action="/urls/<%= longURL %>?_method=PUT">

       <button type="submit">Update</button>
    </form>

      <form method="POST" action="/urls/<%= shortURL %>?_method=DELETE">

       <button type="submit">Delete</button>
    </form>
   </tr>
</table>

</body>
</html>