<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Write EJS code here to display shortened links -->
    <h1>Short URL</h1>
<table>

   <tr>
     <td><%= shortURL %>

     </td>
      <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
        <input id="longURL" type="text" name="longURL" placeholder="http://<%= longURL %>" style="width: 300px">
       <button type="submit">Update</button>
    </form>

      <form method="POST" action="/urls/<%= shortURL %>?_method=DELETE">

       <button type="submit">Delete</button>
    </form>
   </tr>
</table>

</body>
</html>