<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Write EJS code here to display shortened links -->

<table>
   <tr>
     <td><%= longURL %>

     <a href ="http://localhost:8080/urls/<%= shortURL %>">Edit</a>
     <a href ="http://localhost:8080/urls/new"><%= shortURL %></a>
        <form method="POST" action="/urls/<%= shortURL %>?_method=DELETE">

       <button type="submit">Delete</button>
    </form>
     </td>
   </tr>
</table>
</body>
</html>